*{
    
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: black;
}
#menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
 
}

#des{
    color: white;
    border: 2px solid white;
    border-radius: 8px;
    padding: 10px;
    background-color: transparent;
}

div a{
    
  padding: 30px;
 
    }
    svg.full__logo {
        width: 20%;
    }
/* div>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
  

} */
nav{
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    color: white;
}
.m1:hover{
    background-color: aliceblue;
    color: black;
}
.m1{
    display: inline-block;
    border-radius: 8px;
    border: 2px solid white;
    margin-top: 15px;
    padding: 10px;
}
.m2{
    background-color: #EE2737;
    border-radius: 8px;

    padding: 10px;
}
.m2:hover{
    background-color: #fcb900;
    color: black;
}
.video1{
    align-items: center; 

}

  
 


  /* .desp {
    text-align: right;
  }
    button {
        font-size: 2rem;
        background-color: transparent;
        border: none;
    
    }

    .navbar {
        display: flex;
        align-items: end;
        flex-flow: column;
        min-height: 100vh;
        min-width: 20%;
        padding: 20px;
        background-color: rgba(208, 19, 19, 0.932);
        position: absolute;
        top: 0;
        left: 100%;
        overflow-x: hidden;
        z-index: 999;
        transition: left 0.5s;
    } */

    #s2{
        color: aliceblue;
        background: url(./img/imagenes/Carrusel_2x1.jpg);
        height: 80vh;
        background-position: center;
        background-size: cover;
        border:1px solid white;
        padding: 60px;
    }
    #s2>div{
       align-items: end;
       height: 100%;
       display: flex;
    }
    
    #s2>div>div{
        display: flex;
        flex-flow: column;
    }
    #s3{
        color: aliceblue;
        height: 80vh;
        padding: 20px;
    
    }

    #prod img{
       
        border: 1px solid white;
        height: 50vh;
        
    }
  a{
    text-decoration: none;
    color: white;
  }
    #prod{
        display: flex;
        justify-content: space-around;
    }
    #s4{
        color: aliceblue;
        height: 40vh;
        padding: 20px;
        align-items: center;
    }
    #s4>div{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 70px;
    }
    #s5{
        color: aliceblue;
        height: 80vh;
        padding: 20px;
        align-items: center;
        display: flex;
        justify-content: center;
        gap: 50px;
    }
    #s5>div{
    display: flex;
    align-items: center;
    }
    
    #s6{
        color: aliceblue;
        height: 80vh;
        padding: 20px;
        align-items: center;
        display: flex;
    }
    #s6 video{
        position: absolute;
    }
    
    